<th th:fragment="petsortableHeader(fieldName, displayName)">
    <a th:href="@{/staff/dashboard(sort=${fieldName}, dir=${sort == fieldName and dir == 'asc' ? 'desc' : 'asc'})}">
        <span th:text="${displayName}"></span>
        <span>
            <i class="bi" th:classappend="${dir == 'asc'} ? ' bi-arrow-up' : ' bi-arrow-down'"></i>
        </span>
    </a>
</th>

<th th:fragment="appsortableHeader(fieldName, displayName)">
    <a th:href="@{/staff/applications(sort=${fieldName}, dir=${sort == fieldName and dir == 'asc' ? 'desc' : 'asc'})}">
        <span th:text="${displayName}"></span>
        <span>
            <i class="bi" th:classappend="${dir == 'asc'} ? ' bi-arrow-up' : ' bi-arrow-down'"></i>
        </span>
    </a>
</th>

<th th:fragment="usersortableHeader(fieldName, displayName)">
    <a th:href="@{/admin/dashboard(sort=${fieldName}, dir=${sort == fieldName and dir == 'asc' ? 'desc' : 'asc'})}">
        <span th:text="${displayName}"></span>
        <span>
            <i class="bi" th:classappend="${dir == 'asc'} ? ' bi-arrow-up' : ' bi-arrow-down'"></i>
        </span>
    </a>
</th>
