<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <script>
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }
        window.onload = function() {
            const errorMsg = getQueryParam('msg') || 'An unknown error occurred.';
            document.getElementById('error-message').textContent = errorMsg;
        }
    </script>
</head>
<body>
<div class="alert alert-danger" role="alert">
    <p id="error-message"></p>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <p>Admin content visible.</p>
</div>
<div sec:authorize="!hasRole('ADMIN')">
    <p>You do not have admin access.</p>
</div>
<div sec:authorize="hasRole('STAFF')">
    <p>STAFF content visible.</p>
</div>
<div sec:authorize="!hasRole('STAFF')">
    <p>You do not have STAFF access.</p>
</div>

</body>
</html>
