<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header-head}">

</head>
<body>

<div th:replace="~{fragments/header.html :: header-nav}"></div>

<div class="container mt-5 text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Pets, Pets, and More Pets!</h1>
        <h3>Our mission is to inspire you to adopt (don't shop).</h3>
        <p class="lead">Find your next furry family member. We are dedicated to finding loving homes for cats and dogs.</p>
    </div>

</div>

<div th:replace="~{fragments/footer.html :: footer-fragment}"></div>

</body>
</html>