<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header-head}">
    <title>Home</title>
</head>
<body>

    <div th:replace="~{fragments/header.html :: header-nav}"></div>
        <main class="container mt-4 mb-5" style="padding-top: 30px;">

            <div class="jumbotron text-center">
                <h1 class="mb-0 text-dark">Welcome to Pets, Pets, and More Pets!</h1>
                <small class="lead">Our mission is to inspire you to adopt (not shop for) your next furry
                    family member.</small>
            </div>

            <select name="petType"
                    hx-get="/pets/filter"
                    hx-target="#pet_cards"
                    hx-swap="innerHTML"
                    hx-trigger="change">
                <option value="">All</option>
                <option value="DOG">Dog</option>
                <option value="CAT">Cat</option>
            </select>

            <div id="pet_cards" th:include="~{fragments/pet_cards.html :: petcards(pets=${pets})}"></div>
        </main>
    </body>
</html>
